extends layout

block content
  h1 Test
  p Welcome to Hangman!

  a(class="game-start", href="javascript:void(0);") START GAME!

  div(class="hangman", align="center")
    img(src="/images/gallows1.jpg")

  div(class="word-container cf", style="text-align:center")

  div(class="alpha-container cf", style="text-align:center")